// =========================================================================================================================
//
//  ######   #######  ##        #######  ########   ######
// ##    ## ##     ## ##       ##     ## ##     ## ##    ##
// ##       ##     ## ##       ##     ## ##     ## ##
// ##       ##     ## ##       ##     ## ########   ######
// ##       ##     ## ##       ##     ## ##   ##         ##
// ##    ## ##     ## ##       ##     ## ##    ##  ##    ##
//  ######   #######  ########  #######  ##     ##  ######
//
// =========================================================================================================================
//

//COLORS
$darkblue: 								#556270;
$blue:									#4ECDC4;
$green:									#C7F464;
$red:									#FF6B6B;
$purple: 								#B0698B;
$darkred:								#C44D58;
$gray-40:								#666666;
$whisper:								#eeeeee;
$carbon:								#25373C;
$oceanGreen:							#50B575;

$white:									#ffffff;
$blackcurrant: 							#3a2c41; // Blackcurrant
$willowBrook: 							#eaf2e3; // Willow Brook
$black: 								#000000; // Black
$gimblet: 								#c0a672; // Gimblet
$purple3: 								#bf69c0; // purple 3
$blue: 									#699ec0; // blue

$color-1: 								$blackcurrant;
$color-2: 								$willowBrook;
$color-3: 								$black;
$color-4: 								$gimblet;
$color-5: 								$purple3;
$color-6: 								$blue;
$color-7: 								$white;
$color-8:								$gray-40;
$color-9:								$whisper;
$color-10:								$oceanGreen;
$color-11:								$carbon;


// ALTERNATE PALET
// $color-1: 							   #3e253c; // purple 1
// $color-2: 							   #71495b; // purple 2
// $color-3: 							   #f4bd89; // yellow
// $color-4: 							   #c06c69; // salmon





// =========================================================================================================================
//
// ########  #######  ##    ## ########  ######
// ##       ##     ## ###   ##    ##    ##    ##
// ##       ##     ## ####  ##    ##    ##
// ######   ##     ## ## ## ##    ##     ######
// ##       ##     ## ##  ####    ##          ##
// ##       ##     ## ##   ###    ##    ##    ##
// ##        #######  ##    ##    ##     ######
//
// =========================================================================================================================
//
$primary-font: 							'lato', helvetica, arial, sans-serif;

$font-weight-thin:						100;
$font-weight-light:						300;
$font-weight-normal:					400;
$font-weight-semi-bold:					500;
$font-weight-bold:						600;
$font-weight-super-bold:				900;

// =========================================================================================================================
//
// ########  ########  ########    ###    ##    ## ########   #######  #### ##    ## ########  ######
// ##     ## ##     ## ##         ## ##   ##   ##  ##     ## ##     ##  ##  ###   ##    ##    ##    ##
// ##     ## ##     ## ##        ##   ##  ##  ##   ##     ## ##     ##  ##  ####  ##    ##    ##
// ########  ########  ######   ##     ## #####    ########  ##     ##  ##  ## ## ##    ##     ######
// ##     ## ##   ##   ##       ######### ##  ##   ##        ##     ##  ##  ##  ####    ##          ##
// ##     ## ##    ##  ##       ##     ## ##   ##  ##        ##     ##  ##  ##   ###    ##    ##    ##
// ########  ##     ## ######## ##     ## ##    ## ##         #######  #### ##    ##    ##     ######
//
// =========================================================================================================================
//
$S:     								480px;
$MS:									600px;
$M:     								800px;
$ML:									900px;
$L:     								1170px;

// NUMBER OF GRID CLASSES
$number-of-grid-classes: 				12;

// =========================================================================================================================
//
//  ######  ##     ## ########   ######   #######  ########   ######
// ##    ## ##     ## ##     ## ##    ## ##     ## ##     ## ##    ##
// ##       ##     ## ##     ## ##       ##     ## ##     ## ##
// ##       ##     ## ########   ######  ##     ## ########   ######
// ##       ##     ## ##   ##         ## ##     ## ##   ##         ##
// ##    ## ##     ## ##    ##  ##    ## ##     ## ##    ##  ##    ##
//  ######   #######  ##     ##  ######   #######  ##     ##  ######
//
// =========================================================================================================================
//
$cursor-normal:							default;
$cursor-for-links:						pointer;

// =========================================================================================================================
//
// #### ##    ## ######## ########   #######      ######  ########  ######  ######## ####  #######  ##    ##
//  ##  ###   ##    ##    ##     ## ##     ##    ##    ## ##       ##    ##    ##     ##  ##     ## ###   ##
//  ##  ####  ##    ##    ##     ## ##     ##    ##       ##       ##          ##     ##  ##     ## ####  ##
//  ##  ## ## ##    ##    ########  ##     ##     ######  ######   ##          ##     ##  ##     ## ## ## ##
//  ##  ##  ####    ##    ##   ##   ##     ##          ## ##       ##          ##     ##  ##     ## ##  ####
//  ##  ##   ###    ##    ##    ##  ##     ##    ##    ## ##       ##    ##    ##     ##  ##     ## ##   ###
// #### ##    ##    ##    ##     ##  #######      ######  ########  ######     ##    ####  #######  ##    ##
//
// =========================================================================================================================
//

// intro section background shorthand properties
$intro-background-size:                 cover;
$intro-background-params:             	no-repeat center center;

// intro section background color time of day colors
$intro-morning-bg-color:                $color-1;
$intro-noon-bg-color:                   $color-1;
$intro-afternoon-bg-color:              $color-1;
$intro-evening-bg-color:                $color-1;
$intro-night-bg-color:                  $color-1;

// intro section background image time of day colors
$intro-bg-morning:                      '../img/backgrounds/morning.png';
$intro-bg-noon:                         '../img/backgrounds/noon.png';
$intro-bg-afternoon:                    '../img/backgrounds/mountainsday.png';
$intro-bg-evening:                      '../img/backgrounds/evening.jpg';
$intro-bg-night:                        '../img/backgrounds/darkforest.png';
$intro-bg-stars:                        '../img/backgrounds/stars.png';

// intro section h1 time of day colors
$intro-morning-h1-color:                $color-7;
$intro-noon-h1-color:                   $color-7;
$intro-afternoon-h1-color:              $color-7;
$intro-evening-h1-color:                $color-7;
$intro-night-h1-color:                  $color-7;

// =========================================================================================================================
//
//  ######   #######  ######## ######## ######## ########     ######  ##     ## ########      ######  ##     ##  ######
// ##    ## ##     ## ##       ##       ##       ##          ##    ## ##     ## ##     ##    ##    ## ##     ## ##    ##
// ##       ##     ## ##       ##       ##       ##          ##       ##     ## ##     ##    ##       ##     ## ##
// ##       ##     ## ######   ######   ######   ######      ##       ##     ## ########      ######  ##     ## ##   ####
// ##       ##     ## ##       ##       ##       ##          ##       ##     ## ##                 ##  ##   ##  ##    ##
// ##    ## ##     ## ##       ##       ##       ##          ##    ## ##     ## ##           ##    ##   ## ##   ##    ##
//  ######   #######  ##       ##       ######## ########     ######   #######  ##            ######     ###     ######
//
// =========================================================================================================================
//
$cofee_steam_trans_speed_1:             4.25;
$cofee_steam_trans_speed_2:             $cofee_steam_trans_speed_1 + ($cofee_steam_trans_speed_1 / 4);
$cofee_steam_trans_speed_3:             $cofee_steam_trans_speed_1 + ($cofee_steam_trans_speed_1 / 20);

// coffee cup icons sizes
$icon-small-height: 					50px;
$icon-small-width: 						56px;
$icon-large-height: 					325px;
$icon-large-width: 						420px;